* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-background: #191d3a;
  --primary: #4550d2;
  --primary-darkest: #2d369b;
  --secondary: #8386a3;
  --secondary-active: #6c72ec;
  --color: #e6e6e6;
  --color-secondary: #8386a3;
  color: var(--color);
  background: var(--main-background);
  font-size: 18px;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  justify-content: space-between;
}

a {
  color: #fff;
  text-decoration: none;
}
h1 {
  text-align: center;
  letter-spacing: 2px;
}
p,
h2 {
  color: var(--color-secondary);
}

i {
  font-size: 32px;
}

.to-up {
  position: fixed;
  padding: 8px;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  background: var(--primary);
  cursor: pointer;
  transition: 0.3s all;
}
.to-up:hover {
  background: var(--primary-darkest);
}
.to-up:active {
  background: var(--primary-darkest);
}

/* BUTTONS */

button,
.button,
.button-secondary {
  background: var(--primary);
  color: var(--color);
  border: none;
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  transition: 0.2s;
  cursor: pointer;
  text-align: center;
}
button:hover,
.button:hover {
  background: var(--primary-darkest);
}
button:active,
.button:active {
  scale: 0.98;
}

.button-secondary {
  background: transparent;
  border: 1px solid var(--secondary);
  color: var(--secondary);
}
.button-secondary:hover {
  background: transparent;
  color: var(--secondary-active);
  border-color: var(--secondary-active);
}

.burger-menu {
  display: none;
}

/* COMPONENT */

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: var(--main-background);
  box-shadow: -30px 30px var(--primary);
}
.img > img {
  width: 25vw;
}

.subtitle {
  align-items: center;
  font-size: 16px;
  color: var(--secondary);
}

/* MAIN */

header,
footer {
  width: 100%;
  padding-inline: 15vw;
  padding-block: 10px;
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background: #22264a;
}

header {
  position: sticky;
  top: 0px;
  z-index: 1;
}

.nav-action {
  display: flex;
  gap: 30px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
nav > a {
  transition: 0.2s;
  cursor: pointer;
}
nav > a:hover {
  color: var(--secondary-active);
  text-decoration: underline;
}
nav > a:active {
  color: var(--secondary-active);
  scale: 0.98;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* height: 84vh; */
}

section {
  height: 100vh;
  padding-block: 20px;
  padding-inline: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.wrapper {
  background: var(--main-background);
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 50px;
}

.action {
  display: flex;
  gap: 20px;
}

.bordered-div {
  position: relative;
  width: fit-content;
  height: fit-content;
  padding-inline: 3vw;
  padding-block: 2vh;
}
.bordered-div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15vw;
  height: 5vh;
  border-top: 4px solid var(--primary);
  border-left: 4px solid var(--primary);
}

.bordered-div::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15vw;
  height: 5vh;
  border-bottom: 4px solid var(--primary);
  border-right: 4px solid var(--primary);
}

.footer-item > div {
  padding: 20px;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-around;
}

/* #about,
#skills {
  flex-direction: column;
} */

.carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  gap: 20px;
}

.carousel-button {
  width: fit-content;
  padding: 5px;
  height: 300px;
}

.carousel-viewport {
  overflow: hidden;
  width: 100%;
}
.carousel-track {
  display: flex;
  gap: 10px;
  will-change: transform;
}
.carousel-card {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  width: clamp(200px, 60vw, 400px);
  height: clamp(400px, 50vw, 400px);
  transition:
    transform 0.4s ease,
    opacity 0.4s ease;
  opacity: 0.5;
  transform: scale(0.8);
  letter-spacing: 2px;
}

.carousel-card::before,
.carousel-card::after {
  border-color: var(--secondary);
}

.active,
.active::before,
.active::after {
  transform: scale(1);
  border-color: var(--primary);
  color: var(--color);
  opacity: 1;
}

.progress-carousel {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.progress-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--secondary);
  cursor: pointer;
  transition: all 0.3s;
}

.progress-dot.active {
  background: var(--primary);
}

.skills-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.skills-wrapper {
  display: flex;
  padding-inline: 10vw;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  gap: 3vw;
}

.skills-item {
  position: relative;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 30px;
  padding-block: 40px;
  gap: 20px;
}

.skills-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5vw;
  height: 5vh;
  border-top: 4px solid var(--primary);
  border-left: 4px solid var(--primary);
}

.skills-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 5vw;
  height: 5vh;
  border-bottom: 4px solid var(--primary);
  border-right: 4px solid var(--primary);
}

.skills-item>img {
  box-shadow: 0px 0px 30px 5px var(--primary-darkest);
}

.portfolio-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 50px;

  padding: 50px;
}

@media (width <= 800px) {
  header,
  footer {
    padding-inline: 20px;
  }
  .burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .burger-menu > i:active {
    transform: rotate(90deg);
    transition: 0.5s all;
  }
  .nav-action {
    display: none;
  }

  section {
    padding-inline: 10px;
    flex-direction: column;
    height: auto;
    padding-inline: 5vw;
    gap: 20px;
  }

  .wrapper {
    width: 100%;
    text-align: center;
    gap: 30px;
  }

  .img {
    margin-bottom: 30px;
  }
  .img > img {
    width: 60vw;
  }

  .action {
    justify-content: center;
  }

  .carousel {
    gap: 10px;
  }

  .carousel-card {
    flex-shrink: 0;
    font-size: 16px;
    letter-spacing: 1px;
  }

  .carousel-button {
    padding: 2px;
  }

  .skills-wrapper {
    gap: 20px;
    padding: 0;
  }
}
